.skills-section {
  padding-top: 20px;
}

.skills-header {
  text-align: center;
  padding: 1rem;
  position: relative;
}

.skills-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 20px;
  height: 4px;
  border-radius: 25px 0 0 2px;
  background-color: #0075ff;
  transition: .5s;
}

.skills-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

.skills-container {
  display: grid;
  grid-tempLate-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1rem;
}

.skills-box {
  padding: 1.5rem;
  margin: 8px;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: #cad3dc;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.dark-mode .skills-box {
  box-shadow: -18px -8px 10px rgba(0, 0, 0, 0.01),
    inset 5px 5px 5px rgba(0, 0, 0, 0.01),
    inset 5px 10px 20px rgba(255, 255, 255, 0.8);
}

.skills-box:hover>.skills-title:after,
.skills-box:hover>.skills-title:before {
  width: 0px;
}

.skills-img:hover,
.skills-img-git:hover {
  transform: translateY(-20px);
}

.skills-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0.5rem; */
  margin-bottom: 0.5rem;
  position: relative;
}


.skills-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #0075ff;
  transition: .3s;
}

.skills-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 2px;
  background-color: #0075ff;
}

.skills-icons {
  width: 50px;
  z-index: 2;
}

.skills-img .skills-img-git {
  /* width: 90px;
  height: 100px; */
  position: relative;
  /* border-radius: 45px; */
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.skills-img:after,
.skills-img-git::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  /* background: rgba(228, 233, 233, 0.6); */
  border-radius: 45px 0 0 45px;
}

@media screen and (max-width:990px) {
  .skills-container {
    grid-tempLate-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width:650px) {
  .skills-container {
    grid-tempLate-columns: 2fr;
    padding: 2rem 50px;
  }
}